* {
	box-sizing: border-box;
	color: #373746;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}
html {height: 100%;}
body {height: 100vh; overflow: hidden;}
section:first-child {background-color: #1EBEBE;transition: all 1s linear;}
section:nth-child(2n) {background-color: #DCE6FA;}
section:nth-child(3n){background-color: #4E598C;}
.text-center {text-align: center;}
.text-light {color: #DCE6FA;}
.text-dark {color: #373746;}
.header-1 {font-size: 400%;}
.header-2 {font-size: 300%;}
.header-3 {font-size: 200%;}
.text-button {
	text-decoration: none;
	background-color: transparent;
	transition: color .2s;
	position: relative;
	cursor: pointer;
	border: none;
	z-index: 10;
}
.button-slash-regular:after {background-color: #1EBEBE;}
.button-slash-light:after {background-color: #DCE6FA;}
.button-slash:after {
	transform: skew(-25deg);
	transition: width 0.5s;
	position: absolute;
	left: -0.25em;
	height: 100%;
	width: 0.0em;
	content: '';
	z-index: -1;
	top: 0;
}
.button-slash-regular:hover {color: #DCE6FA;}
.button-slash-light:hover {color: #1EBEBE;}
.button-slash:hover:after {width: calc(100% + .6em);}
.container {
	scroll-snap-align: center;
	position: relative;
	height: 100vh;
}
.content-center {
	justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}
.section-side-content {
	position: relative;
	margin-left: 50px;
	overflow: hidden;
	height: 100%;
}
.navbar {
	display: inline;
	height: 100%;
}
.site-lan {
	position: absolute;
	cursor: pointer;
	right: 5%;
	top: 5%;
}
#scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
#close-hidden-navbar {
	display: none;
}
#open-hidden-navbar, #close-hidden-navbar {
	position: absolute;
	font-size: 200%;
	height: 100%;
	left: 10px;
}
#hidden-navbar {display: none;}
#home-section {padding: 2rem 2rem 2rem 0;}
#home-content {
	border-left: 2px solid #DCE6FA;
}
#logoligth-img, #logodark-img {
	position: absolute;
	width: 200px;
	left: 5%;
	top: 5%;
}
#hidden-navbar-socials {
	position: absolute;
	bottom: 10%;
	right: 10%;
}
#hidden-navbar-socials > button {padding: 5px;}
#hidden-navbar-list {list-style: none;}
#home-more {
	position: absolute;
	bottom: 5%;
}
#home-more > a {display: block;}
#home-more > span {
	animation: jump 1s ease-in-out 0s infinite;
	position: relative;
}
@keyframes jump {
	0%, 100% {bottom: 0;}
	50%{bottom: -5px;}
}








